[Desktop Entry]
Name=Koch Morse	
GenericName=Morse Tutor
Comment=A simple Morse tutor using the Koch method.
Exec=kochmorse
Icon=/usr/share/icons/kochmorse.svg
Type=Application
Categories=Education;Teaching;
Terminal=false
Encoding=UTF-8
